.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__header {
        @include title ;
        margin-bottom: 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 922px;
        margin: 0 auto;
    }
    &__item {
        margin-top: 65px;
        width: 247px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 38px;
        text-align: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 25px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}